body {
    font-family: sans-serif;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
	background: linear-gradient(45deg, #FC5C7D, #6A82FB);
}


        .card-container{
           display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 24px;
            width: 100%;
            max-width: 1200px;
        }
          .card {
            background-color: white;
            border-radius: 24px;
 		box-shadow: 0 0 10px rgba(0,0,0,0.1);
            padding: 40px;
            text-align: center;
            width: 25%;
            cursor: pointer;
            transition: transform 0.3s;
             display: flex;
            flex-direction: column;
            align-items: center;
             justify-content: center;
             color: #573065;
             text-decoration: none;
        }
        .card:hover {
            transform: scale(1.05);
        }
        .card.disabled {
             opacity: 0.6;
            cursor: not-allowed;
            transform: none;
        }
         .card.disabled:hover {
            transform: none;
        }

        .card h2 {
            margin-bottom: 10px;
        }
        .card p {
            color: #777;
        }


.container {
    background-color: white;
    padding: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 24px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 600px;
    text-align: center;
    color: #573065;
}

.form-step {
    margin-bottom: 20px;
}


.hidden {
    display: none;
}

input[type="text"], input[type="email"]{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 90%;
    box-sizing: border-box;
}

button {
    padding: 12px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 700;
}

button:hover {
    background-color: #3d8d3d;
}
#answers-wrapper{
    display: flex;
    width: 100%;
}
#answer-options{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
   width: fit-content;
}

#answer-options label{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-align: left;


}

#answer-options label input[type="radio"] {
    margin-right: 10px;
}

.error-message {
    color: red;
    font-size: 0.9em;
    display: none;
    text-align: left;
    margin-top: 5px;
}

.mandatory-error {
  color: red;
  font-size: 0.9em;
  display: block;
    text-align: left;
  position: relative;
  margin-top: 10px;
}

#results-container{
    text-align:left;
}

#share-button {
    padding: 12px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 700;
}

#share-button:hover {
background-color: #3d8d3d;
}
#logout-icon-button {
    background-color: transparent;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: transform 0.3s;
    font-size: 2rem; /* Increased icon size */
    color:  white; /* set the main color*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    width: 2.5rem; /* Set a fixed width */
     height: 2.5rem;  /* Set a fixed height */
  position: fixed;   /* Make container positioned relative to viewport */
  top: 24px;          /* Distance from the top */
  right: 24px;        /* Distance from the right */
  z-index: 100;       /* Ensure button is above other content */
}


#logout-icon-button:hover {
    background-color: rgba(87, 48, 101, 0.3); /* slightly darker on hover */
}

#menu-icon-button {
    background-color: transparent;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: transform 0.3s;
    font-size: 2rem; /* Increased icon size */
    color:  white; /* set the main color*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    width: 2.5rem; /* Set a fixed width */
     height: 2.5rem;  /* Set a fixed height */
  position: fixed;   /* Make container positioned relative to viewport */
  top: 24px;          /* Distance from the top */
  left: 24px;        /* Distance from the left */
  z-index: 100;       /* Ensure button is above other content */
}


#menu-icon-button:hover {
    background-color: rgba(87, 48, 101, 0.3); /* slightly darker on hover */
}

         h1 {
            text-align: center;
            margin-top: 20px;
            color: #573065;
           }
          .loading-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 1000;
             display: none; /* Hidden by default */
            }
            .loading-overlay.show{
              display: flex;
            }

        .loader {
             border: 8px solid #f3f3f3;
             border-top: 8px solid #573065; /* Purple spinner */
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 2s linear infinite;
            margin-bottom: 20px;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
         .loading-message {
            text-align: center;
            color: white;
            font-size: 1.1rem;
            margin-top: 10px;
             font-weight: 700;
            padding: 20px;
            background-color: #573065;
            border-radius: 10px;
        }
          #snackbar {
          visibility: hidden;
          min-width: 250px;
          margin-left: -125px;
          background-color: #333;
          color: #fff;
          text-align: center;
          border-radius: 4px;
          padding: 16px;
           display: flex;
            align-items: center;
            justify-content: space-between;
          position: fixed;
          z-index: 1;
          left: 50%;
          bottom: 30px;
        }

        #snackbar.show {
            visibility: visible;
           -webkit-animation: fadein 0.5s, fadeout 0.5s;
           animation: fadein 0.5s, fadeout 0.5s;
        }

        @-webkit-keyframes fadein {
            from {bottom: 0; opacity: 0;}
           to {bottom: 30px; opacity: 1;}
        }

       @keyframes fadein {
          from {bottom: 0; opacity: 0;}
         to {bottom: 30px; opacity: 1;}
        }

        @-webkit-keyframes fadeout {
            from {bottom: 30px; opacity: 1;}
            to {bottom: 0; opacity: 0;}
        }

         @keyframes fadeout {
            from {bottom: 30px; opacity: 1;}
             to {bottom: 0; opacity: 0;}
        }
       #snackbar button {
          background: transparent;
           color: white;
           border:none;
           cursor: pointer;
        }

        #snackbar.error {
             background-color: #ff3d00; /* Red for error */

        }